@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(400px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes zoom-in-scale {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
@keyframes float {
<<<<<<< HEAD
  0% {
=======
  0%{
>>>>>>> 781944e14bbfdf0766b39aa696d037811bbe2f35
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
<<<<<<< HEAD
=======
  }
}

@keyframes rainbow_anim {
  0%, 100% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 100% 0;
>>>>>>> 781944e14bbfdf0766b39aa696d037811bbe2f35
  }
}
