* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(189, 189, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

nav {
  background-color: rgb(88, 88, 88);
  padding: 20px 15px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-size: 2.2vh;
}

nav ul li {
  transition: 0.3s ease;
}

nav ul li:hover {
  text-shadow: 0 0 5px black;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#main-title {
  font-size: 8vh;
  padding: 1rem;
}

.block {
  height: 400px;
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease;
}

.block:hover {
  transform: scale(1.02);
  box-shadow: 0 0 7px black;
}

.block:active {
  transform: scale(0.95);
}

.block:hover .layer {
  backdrop-filter: blur(0);
}

.soundboard {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
}

.soundboard-wrapper {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  transition: 0.3s ease;
}

.daj-drugo-dete {
  background-image: url(img/drugo-dete-daj.png);
  animation: slide-left 1s;
}

.da-si-malo-starija {
  background-image: url(img/da-si-malo-starija.png);
  animation: slide-right 1s;
}

.kaj-e-pivoto {
  background-image: url(img/kaj-e-pivoto.png);
  animation: slide-left 1s;
}

.abe-ja-sam-risto {
  background-image: url(img/ja-sam-risto-ti-si-blazo.png);
  animation: slide-right 1s;
}

.kompiri {
  background-image: url(img/kompiri.png);
  animation: slide-left 1s;
}

.teing-so-crevoto {
  background-image: url(img/teiing-so-crevoto.png);
  animation: slide-right 1s;
}

.operator {
  background-image: url(img/operator.png);
  animation: slide-left 1s;
}

.privatno {
  background-image: url(img/privatno.png);
  animation: slide-right 1s;
}

.jorgo {
  background-image: url(img/jorgo.png);
  animation: slide-right 1s;
}

.neam-kola {
  background-image: url(img/nea-kola.png);
  animation: slide-left 1s;
}

.vnatre-e {
  background-image: url(img/vnatre-e.png);
  animation: slide-right 1s;
}

.tango {
  background-image: url(img/tango.png);
  animation: slide-left 1s;
}

.so-mu-e-na-via {
  background-image: url(img/so-u-e-na-via.png);
  animation: slide-left 1s;
}

.toso-menja-guma {
  background-image: url(img/toso-menja-guma.png);
  animation: slide-right 1s;
}

.gumeni-cizmi {
  background-image: url(img/gumeni-cizmi.png);
  animation: slide-left 1s;
}

.hemoroidi {
  background-image: url(img/hemoroidi.png);
  animation: slide-right 1s;
}

.block h1 {
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 3vh;
}

.block:hover img {
  display: inline-block;
}

.block h1 img {
  position: absolute;
  display: none;
  width: 45px;
  height: 45px;
  transform: translateY(-13px);
  margin: 10px 20px;
  filter: drop-shadow(0 0 5px white);
  animation: fade 0.7s;
}

.zoom-in {
  animation: zoom-in-scale 1s;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

section {
  font-size: 2.2vh;
}

.main-section .container {
  width: 80%;
}

.responsive-nav {
  display: none;
}

/*responsive*/
@media (max-width: 500px) {
  nav {
    padding: 8px;
  }

  .soundboard {
    display: block;
  }

  .block {
    background-position: center;
  }

  .main-section {
    padding: 3rem .5rem;
  }

  .main-section .container {
    width: 95%;
  }

  .block h1 img {
    width: 35px;
    height: 35px;
  }

  #main-title {
    font-size: 5vh;
  }

  .block h1 {
    font-size: 2.5vh;
    padding: 20px !important;
  }

  #videoPlayer iframe {
    height: 30vh;
    width: 100%;
  }

  .responsive-nav {
    display: block;
  }

  .responsive-nav #closeNav {
    display: none;
  }

  .responsive-nav #openNav {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    margin: 15px 0;
  }

  nav ul li {
    margin: 5px 0;
    font-size: 2.7vh !important;
  }

  #display .arrow {
    font-size: 2.5vh !important;
  }

  #display {
    padding: 0 !important;
    height: 40vh !important;
  }

  #display .left {
    transform: translateX(34px) !important;
  }

  #display .right {
    transform: translateX(-34px) !important;
  }

  .gallery {
    grid-template-columns: auto auto !important;
  }

  #about-us-subtitle span {
    animation: none !important;
  }

  #about-us-subtitle #right-slide {
    animation: none !important;
  }

  .song {
    width: auto !important;
  }

  #random-vid-container {
    margin: 2rem 0 !important;
  }
}

@media (max-width: 480px) {
  footer ul li {
    font-size: 2vh !important;
  }

  footer {
    gap: 40% !important;
  }

  footer .logo {
    width: 40% !important;
  }

  header {
    gap: 3% !important;
  }

  header img {
    width: 40px !important;
    height: 40px !important;
  }
}

@media (max-width: 340px) {
  .block h1 {
    font-size: 2.5vh;
    padding: 20px !important;
  }

  header {
    gap: 1% !important;
  }

  header img {
    width: 30px !important;
    height: 30px !important;
  }
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(189, 189, 0);
}

::-webkit-scrollbar {
  width: 8px;
}

#randomVideoH1 {
  margin-top: 4rem;
}

#videoPlayer iframe {
  border-radius: 5px;
  box-shadow: 0 0 6px black;
  transition: .3s ease;
}

#videoPlayer iframe:hover {
  transform: scale(1.03);
}

#content-title {
  padding: 1.5rem;
}

.rainbow {
  background: linear-gradient(to right, rgb(131, 131, 0), rgb(0, 0, 0), rgb(0, 85, 0), rgb(0, 34, 109), rgb(151, 0, 0));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow_anim 7s infinite, float 2.5s infinite;
  background-size: 400% 10%;
}

.gallery {
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto auto auto;
}

.gallery img,
#display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
  object-position: center;
}

.gallery .image {
  animation: zoom-in-extra 1.2s;
}

.gallery img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 4px black;
}

.displayImg {
  display: none;
}

#display img {
  border-radius: 5px;
  box-shadow: 0 0 6px black;
  width: 90%;
}

#display {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 3rem 0;
  animation: zoom-in-scale .7s;
}

#display .arrow {
  font-size: 4vh;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  cursor: default;
  transition: .2s ease;
  border-radius: 5px;
}

#display .arrow:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#display .left {
  transform: translateX(44px);
}

#display .right {
  transform: translateX(-44px);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.image a {
  padding: 2px;
  position: absolute;
  text-align: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

#ctp {
  font-size: 1.5vh;
  padding: 0;
  margin: 0;
  text-shadow: none;
  color: rgba(0, 0, 0, .6);
}

#random-vid-container {
  margin: 2rem;
}

footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60%;
  background-color: black;
}

footer .logo {
  width: 10%;
}

footer img {
  width: 100%;
  filter: drop-shadow(0 0 4px rgb(189, 189, 0));
}

footer ul {
  list-style-type: none;
  text-align: left;
}

footer ul li {
  font-size: 2.5vh;
  margin: 5px 0;
  transition: .3s ease;
}

footer ul li:hover {
  transform: translateX(7px);
}

footer ul li:hover a {
  color: white;
}

footer ul li a {
  color: rgb(189, 189, 0);
  text-decoration: none;
  transition: .3s ease;
}

.about-us {
  font-size: 2.6vh;
}

#end-footer {
  background-color: rgb(157, 160, 0);
  font-size: 2vh;
  padding: 5px;
  color: black;
}

#about-us-subtitle {
  margin: 15px 0;
  padding: 2px;
  text-align: left;
  border: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  height: 40px;
}

#about-us-subtitle span {
  position: absolute;
  animation: slide-left 1.3s;
}

#about-us-subtitle #right-slide {
  animation: slide-right 1.3s;
}

#readMore {
  color: rgb(12, 0, 124);
  transition: .2s ease;
}

#readMore:hover {
  color: wheat;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

header img {
  width: 60px;
  height: 60px;
}

/*songs*/
.song img {
  width: 100%;
  border-radius: 5px;
}

.songs .container{
  /*display: grid;
  grid-gap: 2.5%;
  grid-template-columns: 50% 50%;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.song {
  width: 49%;
  margin: 15px 0;
  transition: .3s ease-in-out;
}

.song:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 0 5px black);
}

.song a {
  text-decoration: none;
  color: black;
}