* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(189, 189, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

nav {
  background-color: rgb(88, 88, 88);
  padding: 20px 15px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-size: 2.2vh;
}

nav ul li {
  transition: 0.3s ease;
}

nav ul li:hover {
  text-shadow: 0 0 5px black;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#main-title {
  font-size: 8vh;
  padding: 1rem;
}

.block {
  height: 400px;
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease;
}

.block:hover {
  transform: scale(1.02);
  box-shadow: 0 0 7px black;
}

.block:active {
  transform: scale(0.95);
}

.block:hover .layer {
  backdrop-filter: blur(0);
}

.soundboard {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
}

.soundboard-wrapper {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  transition: 0.3s ease;
}

.daj-drugo-dete {
  background-image: url(img/drugo-dete-daj.png);
  animation: slide-left 1s;
}

.da-si-malo-starija {
  background-image: url(img/da-si-malo-starija.png);
  animation: slide-right 1s;
}

.kaj-e-pivoto {
  background-image: url(img/kaj-e-pivoto.png);
  animation: slide-left 1s;
}

.abe-ja-sam-risto {
  background-image: url(img/ja-sam-risto-ti-si-blazo.png);
  animation: slide-right 1s;
}

.kompiri {
  background-image: url(img/kompiri.png);
  animation: slide-left 1s;
}

.teing-so-crevoto {
  background-image: url(img/teiing-so-crevoto.png);
  animation: slide-right 1s;
}
.operator {
  background-image: url(img/operator.png);
  animation: slide-right 1s;
}
.privatno {
  background-image: url(img/privatno.png);
  animation: slide-right 1s;
}

.block h1 {
  color: white;
  text-shadow: 0 0 5px black;
}

.block:hover img {
  display: inline-block;
}

.block h1 img {
  position: absolute;
  display: none;
  width: 45px;
  height: 45px;
  transform: translateY(-13px);
  margin: 10px 20px;
  filter: drop-shadow(0 0 5px white);
  animation: fade 0.7s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(400px);
  }

  to {
    transform: translateX(0);
  }
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

section {
  font-size: 2.2vh;
}

.main-section .container {
  width: 80%;
}

/*responsive*/

@media (max-width: 500px) {
  .soundboard {
    display: block;
  }

  .block {
    background-position: center;
  }

  #main-title {
    font-size: 5vh;
  }
}

::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(189, 189, 0) ;
}
::-webkit-scrollbar{
    width: 8px;
}