* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(189, 189, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

nav {
  background-color: rgb(88, 88, 88);
  padding: 20px 15px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-size: 2.2vh;
}

nav ul li {
  transition: 0.3s ease;
}

nav ul li:hover {
  text-shadow: 0 0 5px black;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#main-title {
  font-size: 8vh;
  padding: 1rem;
}

.block {
  height: 400px;
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease;
}

.block:hover {
  transform: scale(1.02);
  box-shadow: 0 0 7px black;
}

.block:active {
  transform: scale(0.95);
}

.block:hover .layer {
  backdrop-filter: blur(0);
}

.soundboard {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
}

.soundboard-wrapper {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  transition: 0.3s ease;
}

.daj-drugo-dete {
  background-image: url(img/drugo-dete-daj.png);
  animation: slide-left 1s;
}

.da-si-malo-starija {
  background-image: url(img/da-si-malo-starija.png);
  animation: slide-right 1s;
}

.kaj-e-pivoto {
  background-image: url(img/kaj-e-pivoto.png);
  animation: slide-left 1s;
}

.abe-ja-sam-risto {
  background-image: url(img/ja-sam-risto-ti-si-blazo.png);
  animation: slide-right 1s;
}

.kompiri {
  background-image: url(img/kompiri.png);
  animation: slide-left 1s;
}

.teing-so-crevoto {
  background-image: url(img/teiing-so-crevoto.png);
  animation: slide-right 1s;
}

.operator {
  background-image: url(img/operator.png);
  animation: slide-left 1s;
}

.privatno {
  background-image: url(img/privatno.png);
  animation: slide-right 1s;
}

.jorgo {
  background-image: url(img/jorgo.png);
  animation: slide-right 1s;
}

.neam-kola {
  background-image: url(img/nea-kola.png);
  animation: slide-left 1s;
}

.vnatre-e {
  background-image: url(img/vnatre-e.png);
  animation: slide-right 1s;
}

.tango {
  background-image: url(img/tango.png);
  animation: slide-left 1s;
}

.so-mu-e-na-via {
  background-image: url(img/so-u-e-na-via.png);
  animation: slide-left 1s;
}

.toso-menja-guma {
  background-image: url(img/toso-menja-guma.png);
  animation: slide-right 1s;
}
.gumeni-cizmi {
  background-image: url(img/gumeni-cizmi.png);
  animation: slide-left 1s;
}
.hemoroidi {
  background-image: url(img/hemoroidi.png);
  animation: slide-right 1s;
}

.block h1 {
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 3vh;
}

.block:hover img {
  display: inline-block;
}

.block h1 img {
  position: absolute;
  display: none;
  width: 45px;
  height: 45px;
  transform: translateY(-13px);
  margin: 10px 20px;
  filter: drop-shadow(0 0 5px white);
  animation: fade 0.7s;
}

.zoom-in {
  animation: zoom-in-scale 1s;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

section {
  font-size: 2.2vh;
}

.main-section .container {
  width: 80%;
}

.responsive-nav {
  display: none;
}

/*responsive*/
@media (max-width: 500px) {
  nav {
    padding: 8px;
  }

  .soundboard {
    display: block;
  }

  .block {
    background-position: center;
  }

  .main-section {
    padding: 3rem 1rem;
  } 

  .main-section .container{
    width: 95%;
  } 

  .block h1 img {
    width: 35px;
    height: 35px;
  }

  #main-title {
    font-size: 5vh;
  }

  .block h1 {
    font-size: 2.7vh;
  }

  #videoPlayer iframe {
    height: 30vh;
    width: 80%;
  }

  .responsive-nav {
    display: block;
  }

  .responsive-nav #closeNav {
    display: none;
  }

  .responsive-nav #openNav {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
  }
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(189, 189, 0);
}

::-webkit-scrollbar {
  width: 8px;
}

#randomVideoH1 {
  margin-top: 4rem;
}

#videoPlayer iframe {
  border-radius: 5px;
  box-shadow: 0 0 6px black;
  transition: .3s ease;
}

#videoPlayer iframe:hover {
  transform: scale(1.03);
}

#content-title {
  padding: 1.5rem;
}

.rainbow {
  background: linear-gradient(to right, rgb(131, 131, 0), rgb(0, 0, 0), rgb(0, 85, 0), rgb(0, 34, 109));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow_anim 6s infinite, float 2.5s infinite;
  background-size: 400% 10%;
}